.container-2{
    height: 40px;
    width: 100%;
    background-color: rgb(36, 38, 68);
    display: flex;
    column-gap: 20px;

}
#container-2-component-1{
font-size: 20px;
margin-top: 8px;
}
.container-2>*{
    margin-top: 10px;
    color: white;
}
.compoent-1-img-1{
    height: 40px;
    width: 40px;
    margin: 0;
    margin-left: 27px;
}

.container-2 p:last-child{
    float: right;
    font-size: 22px;
    color: white;
    margin-top: 0;
    margin-left: 110px;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    margin-left: 75px;
    margin-top: 2px;
}