@import "colors.scss";
.container-4-component-3 {
    height: 220px;
    dialog {
        display: grid;
        grid-template-columns: 100px 106px 100px 76px 100px;
        grid-template-rows: repeat(2, 63px);
        height: 100px;
        width: 735px;
        justify-content: space-between;
        background-color: $color-7;
        top: 820px;
        color: white;
    }
}
