@import "colors.scss";
.container-4-component-3 {
    height: 220px;
    dialog {
        display: grid;
        grid-template-columns: 100px 106px 100px 76px 100px;
        grid-template-rows: repeat(2, 63px);
        height: 100px;
        width: 735px;
        justify-content: space-between;
        background-color: $color-7;
        top: 820px;
        color: white;
    }
}
.container-4 {
    height: 600px;
    width: 100%;
    position: static;
    transform: translate(0px, 3275px);
  }
  
  .container-4js {
    top: 3160px;
  }
  .container-4-component-1 {
    height: 15px;
    background-color: $color-5;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 25px;
      font-size: 20px;
  }
  .container-4-component-2 {
    height: 730px;
    width: 100%;
    background-color: $color-6;
    display: grid;
    box-sizing: border-box;
    column-gap: 1px;
    color: white;
    font-size: 15px;
    grid-template-columns: repeat(4, 172px);
    grid-template-rows: repeat(2, 335px);
    column-gap: 70px;
    justify-content: center;
    padding-top: 60px;
  }
  .container-4-component-3 {
    width: 100%;
    background-color: $color-7;
  }

  .component4Dialog{
    border: 0;
    padding: 0;
    font-size: 11px;
}
.container-4-component-3-component-1{
    color: white;
    font-size: 13px;
    position: relative;
    top :177px;
    width: 740px;
    left: 350px;
    & p{
        margin-top: 0;
        margin-left: 175px;
    }
}