$color-1:180deg, rgba(12 , 2 , 26) 0%, rgba(32 , 9 , 64) 15%, rgba(169 , 169 , 169) 100%;
$color-2:180deg, rgb(43 , 46 , 20) 0%, rgb(69 , 92 , 47) 15%, rgba(169 , 169 , 169) 100%;
$color-4:180deg, rgb(222, 233, 233) 24%, rgb(201, 201, 201) 50%, rgba(169, 169, 169) 100%;
$color-3:180deg, rgb(129, 178, 235) 24%, rgba(157, 157, 157) 50%, rgba(169, 169, 169) 100%;
$color-5: rgb(38, 38, 103);
$color-6:rgb(25, 25, 64);
$color-7:rgb(5, 5, 32);
$color-8:180deg, rgba(0,0,0) 0%, rgb(40, 31, 46) 15%, rgba(169 , 169 , 169) 100%;